.shop {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 10px;
}

.shop .product {
  border: solid 1px #EFEFEF;
}

.shop .product:hover {
  border: solid 1px #CCC;
}

.shop .product a {
  width: 100%;
  /*padding: 10px;*/
  /*display: block;*/
}

.shop .product a:hover {
  text-decoration: none;
}

.shop .product a:hover .title {
  text-decoration: underline;
}

.shop .product a div {
  width: 100%;
  box-sizing: border-box;
}

.shop .product .details {
  padding: 10px;
}

.shop .product .title {
  color: rgb(76, 122, 196);
  font-size: 1.4em;
  /*text-align: center;*/
}

.shop .product .short-description {
  color: #777;
  font-size: 0.8em;
}

.shop .product .price {
  float: right;
}

.shop .product .price .no-vat {
  color: rgb(78, 132, 219);
  font-size: 1.2em;
  text-align: right;
}

.shop .product .price .incl-vat {
  color: rgb(76, 122, 196);
  font-size: 0.8em;
  text-align: right;
}